.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend .friend__avatar {
  width: 50px;
  border-radius: 40%;
}

.friend__avarat.g-avatar {
  /* width: 70px; */
}
